  body {
    background-color: #eee;
    font-family: helvetica, sans-serif;
  }

  nav {
    padding: 1em;
  }

  h1 {
  	text-align:center;
  }

  input {
  	padding: .65em;
  	font-size: .85em;
  }

  button {

    padding: 0.55em;
    border-radius: .25em;
    font-size: .85em

  }

  .twittler-feed {

    margin: 1em;

  }

  .twittle-box{
    background-color: #4099ff ;
    border: 1px solid #aaa;
    border-radius: .5em .5em 0em 0em;
    padding: 1em;
  	text-align: center;
  }

  .twittler-stream {

  }

  .tweet{
      background-color:#fff;
      border-right: 1px solid #aaa;
      border-left: 1px solid #aaa;
      border-bottom: 1px solid #aaa;

      padding-top: 1em;
      padding-left: 1em;
  }

  #twittle-box-input {

  }

  .refresh {

  }

  #refresh-button {


  }

  .user{
    
  }

  #user-button{
    
  }


