  body {
    background-color: #f2f5f7;

    font-family: tahoma, arial, helvetica, sans-serif;
  }

  nav {
    
  }

  h1 {
    color: grey;
    text-align: center;

    font-size: 20px;

  }

  input {
  	padding: .65em;
  	font-size: .85em;
  }

  button {
    color: white;
    background-color: #1da1f2;
    padding: 0.55em;

    border-style: solid;
    border-radius: .25em;

    font-size: .85em

  }

  .twittler-feed {

    margin: 1em;

  }

  .bird {

    color: #1da1f2;
  }


  .twittle-box{
    background-color: #edf8ff;

    border: 1px solid #ccd6dd;
    border-radius: .5em .5em 0em 0em;

    padding: 1em;

  	text-align: center;
  }


  .tweet{
      background-color:#fff;

      border-right: 1px solid #ccd6dd;
      border-left: 1px solid #ccd6dd;
      border-bottom: 1px solid #ccd6dd;

      padding-top: 1.3em;
      padding-left: 1em;

      font-size: 14px
  }



  #twittle-box-input {
    width: 70%;
    padding:0.5em;
  }

  #twittle-box-submit {
    width: 15%;
  }


  #user-button{
  
  }

  #refresh-button {
    width: 100%;
  }


