  body {
    color: blue;
    font-family: tahoma, arial, sans-serif;
    font-size: 12px;
  }

  .content {
    border 1px solid #cac3c6;
    margin: 0 auto;
    padding: 20px;
    width: 260px;
  }

  h1 {
    color: red;
    font-size: 24px;
    text-align: center;
  }